In [3]:
import sys
sys.path.append("../")

In [5]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression

from algorec.populations import BasePopulation
from algorec.recourse import ActionableRecourse, NFeatureRecourse

rng = np.random.default_rng(42)
df = pd.DataFrame(rng.random((100, 4)), columns=["a", "b", "c", "d"])
y = rng.integers(0, 2, 100)

lr = LogisticRegression().fit(df, y)
y_pred = lr.predict_proba(df)[:, -1] > 0.6

# Testing counterfactuals
population = BasePopulation(
    data=df, y_desired=1, categorical=None, immutable=["b"], step_direction={"a": -1}
)

In [8]:
population.data.head()

          a         b         c         d
0  0.773956  0.438878  0.858598  0.697368
1  0.094177  0.975622  0.761140  0.786064
2  0.128114  0.450386  0.370798  0.926765
3  0.643865  0.822762  0.443414  0.227239
4  0.554585  0.063817  0.827631  0.631664

In [9]:
recourse = ActionableRecourse(lr, threshold=0.6, flipset_size=100)
cfs = recourse.counterfactual(population)
cfs.head()

          a         b             c         d
0  0.773956  0.438878  4.400000e-01  0.697368
1  0.094177  0.975622  2.220446e-16  0.870000
2  0.128114  0.450386  2.600000e-01  0.926765
3  0.643865  0.822762  0.000000e+00  0.490000
4  0.554585  0.063817  3.600000e-01  0.631664

In [10]:
recourse = NFeatureRecourse(lr, threshold=0.6, n_features=None)
cfs = recourse.counterfactual(population)
cfs.head()

          a         b         c         d
0  0.773956  0.438878  0.660519  0.905081
1  0.094177  0.975622  0.357144  1.209710
2  0.128114  0.450386  0.320883  0.979107
3  0.643865  0.822762  0.104637  0.582493
4  0.554585  0.063817  0.607161  0.862858